In [17]:
import pandas as pd
import sqlite3

In [18]:
alpha = pd.read_csv('C:/Users/PC/PycharmProjects/systemtrading_platform/db/베타.csv')

In [19]:
alpha

      Unnamed: 0    종목코드     기업명    베타
0              0   60310      3S  1.33
1              1   54620  APS홀딩스  1.46
2              2  265520   AP시스템  0.93
3              3  211270    AP위성  0.87
4              4   35760  CJ ENM  0.85
...          ...     ...     ...   ...
2164        2164   79980     휴비스  1.49
2165        2165    5010     휴스틸  1.52
2166        2166   69260     휴켐스  0.84
2167        2167     540    흥국화재  1.32
2168        2168    3280    흥아해운  1.36

[2169 rows x 4 columns]

In [20]:
alpha.sort_values(['베타'], ascending=True, inplace=True)

In [21]:
alpha['순위'] = alpha['베타'].rank(ascending = False)

In [22]:
alpha

      Unnamed: 0    종목코드      기업명     베타      순위
952          952  353810    이지바이오 -27.00  2169.0
1339        1339   66110       한프  -0.70  2168.0
941          941  223310    이에스브이  -0.40  2166.5
303          303   84650    랩지노믹스  -0.40  2166.5
697          697   80440   에스제이케이  -0.20  2164.0
...          ...     ...      ...    ...     ...
1951        1951  272450      진에어   2.64     5.0
1135        1135    9730       코센   2.82     4.0
1516        1516    1210     금호전기   2.83     3.0
1964        1964  344820  케이씨씨글라스   2.87     2.0
831          831   66430     와이오엠   2.99     1.0

[2169 rows x 5 columns]

In [23]:
std = pd.read_csv("C:/Users/PC/PycharmProjects/systemtrading_platform/db/전종목표준편차.csv")

In [24]:
std

    Unnamed: 0    종목코드     기업명      표준편차
0           52    5930    삼성전자  0.019403
1           26   37950     엘컴텍  0.027744
2           55    2700    신일전자  0.030458
3            6   64260      다날  0.030979
4           13   82800  루미마이크로  0.037298
..         ...     ...     ...       ...
63          18   65450      빅텍  0.092275
64          56   19170    신풍제약  0.092532
65          20   13810     스페코  0.093338
66          43  205470    휴마시스  0.119878
67          32  221610      자안  0.128145

[68 rows x 4 columns]

In [25]:
std['순위'] = std['표준편차'].rank(ascending=True)

In [26]:
std

    Unnamed: 0    종목코드     기업명      표준편차    순위
0           52    5930    삼성전자  0.019403   1.0
1           26   37950     엘컴텍  0.027744   2.0
2           55    2700    신일전자  0.030458   3.0
3            6   64260      다날  0.030979   4.0
4           13   82800  루미마이크로  0.037298   5.0
..         ...     ...     ...       ...   ...
63          18   65450      빅텍  0.092275  64.0
64          56   19170    신풍제약  0.092532  65.0
65          20   13810     스페코  0.093338  66.0
66          43  205470    휴마시스  0.119878  67.0
67          32  221610      자안  0.128145  68.0

[68 rows x 5 columns]

In [27]:
leftJoin = pd.merge(alpha, std, left_on='기업명',  right_on='기업명', how='left')

In [28]:
leftJoin.dropna(inplace=True)

In [29]:
leftJoin

,Unnamed: 0_x,종목코드_x,기업명,베타,순위_x,Unnamed: 0_y,종목코드_y,표준편차,순위_y
7,1952,11000,진원생명과학,-0.10,2161.0,63.0,11000.0,0.080519,59.0
87,1683,3000,부광약품,0.09,2083.0,51.0,3000.0,0.068894,50.0
107,1365,205470,휴마시스,0.19,2062.5,43.0,205470.0,0.119878,67.0
157,73,289080,SV인베스트먼트,0.35,2015.0,2.0,289080.0,0.056630,35.0
250,994,221610,자안,0.55,1920.0,32.0,221610.0,0.128145,68.0
...,...,...,...,...,...,...,...,...,...
2057,221,10170,대한광통신,1.80,111.5,8.0,10170.0,0.045067,15.0
2064,313,215100,로보로보,1.81,106.0,12.0,215100.0,0.057311,36.0
2081,1909,7110,일신석재,1.85,87.0,62.0,7110.0,0.056269,34.0
2149,2107,88350,한화생명,2.14,20.5,67.0,88350.0,0.037911,6.0
2153,1008,72520,제넨바이오,2.16,16.5,35.0,72520.0,0.048975,19.0

In [30]:
leftJoin['합산순위'] = leftJoin['순위_x'] + leftJoin['순위_y']

In [31]:
leftJoin.sort_values(['합산순위'], inplace=True)

In [32]:
leftJoin.head(20)

,Unnamed: 0_x,종목코드_x,기업명,베타,순위_x,Unnamed: 0_y,종목코드_y,표준편차,순위_y,합산순위
2149,2107,88350,한화생명,2.14,20.5,67.0,88350.0,0.037911,6.0,26.5
2153,1008,72520,제넨바이오,2.16,16.5,35.0,72520.0,0.048975,19.0,35.5
2081,1909,7110,일신석재,1.85,87.0,62.0,7110.0,0.056269,34.0,121.0
2057,221,10170,대한광통신,1.80,111.5,8.0,10170.0,0.045067,15.0,126.5
2064,313,215100,로보로보,1.81,106.0,12.0,215100.0,0.057311,36.0,142.0
2041,389,35620,바른손이앤에이,1.77,132.5,16.0,35620.0,0.050533,23.0,155.5
2023,1710,10140,삼성중공업,1.75,148.0,53.0,10140.0,0.042759,12.0,160.0
2048,556,25320,시노펙스,1.78,121.5,21.0,25320.0,0.069156,51.0,172.5
2030,1657,5360,모나미,1.77,132.5,50.0,5360.0,0.061189,40.0,172.5
2045,602,25980,아난티,1.78,121.5,23.0,25980.0,0.069318,52.0,173.5
1987,260,203650,드림시큐리티,1.69,184.5,10.0,203650.0,0.040088,8.0,192.5
1995,1632,26890,디피씨,1.71,176.0,48.0,26890.0,0.061891,42.0,218.0
1966,238,100130,동국S&C,1.67,201.0,9.0,100130.0,0.065602,45.0,246.0
1923,1872,47400,유니온머티리얼,1.63,250.0,60.0,47400.0,0.065346,44.0,294.0
1872,1896,84680,이월드,1.59,298.0,61.0,84680.0,0.044808,13.0,311.0
1847,71,63440,SM Life Design,1.56,322.0,1.0,63440.0,0.048228,18.0,340.0
1859,583,222420,쎄노텍,1.57,312.0,22.0,222420.0,0.053516,29.0,341.0
1820,1202,81150,티플랙스,1.54,349.0,41.0,81150.0,0.058835,37.0,386.0
1788,1831,7460,에이프로젠 KIC,1.52,382.0,58.0,7460.0,0.060600,38.0,420.0
1770,296,42510,라온시큐어,1.51,402.0,11.0,42510.0,0.049095,20.0,422.0

In [1]:
import pandas as pd

In [2]:
tmpdf = pd.DataFrame([[1,2],[3,4]], columns=['a','b'])

In [4]:
tmpdf2 = pd.DataFrame([[5,6]])

In [5]:
df = pd.DataFrame([['choi',tmpdf], ['young', tmpdf2]])

In [7]:
df['1']['a']

KeyError: '1'